<!doctype html>
<html lang="en">
    <head>
        <title>zuhairmalik | swe</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div style="container">
            <h1>
                hi
                <span class="ellipsis"
                    ><span class="dot">.</span><span class="dot">.</span
                    ><span class="dot">.</span></span
                >
            </h1>
            <h2>i'm zuhair malik</h2>
            <h3>
                software engineer @
                <code style="color: var(text-bright)">microsoft</code>
            </h3>
            <h3>working on the azure kubernetes fleet manager team</h3>

            <h3>
                contact me at
                <blockquote>
                    <a href="mailto:me@zuhairmalik.dev">me@zuhairmalik.dev</a>
                </blockquote>
            </h3>
            <h3>
                download my resume
                <a
                    href="https://bucket.zuhairmalik.dev/personal-bucket/resume.pdf"
                    download
                >
                    here
                </a>
            </h3>
            <h3>
                if you wish, you can read my thoughts on random topics
                <a href="https://zuhairmalik.dev/writings"> here </a>
            </h3>
        </div>
    </body>
</html>
